# Build folders
build/
Debug/
Release/
x64/
x86/

# Visual Studio
.vs/
*.vcxproj.user

# Compiled files
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
*.log

# OS files
.DS_Store
Thumbs.db